extends ../index.pug

block variables
    - var template = 'portfolio'

block content
    .portfolio
        .portfolio__title!=PrismicH.asHTML(portfolio.title)
        .portfolio__description!=PrismicH.asHTML(portfolio.description)
        image.portfolio__image(alt=portfolio.image.alt src=portfolio.image.url)